.handwriting {
  width: 50%;
  transition: all 1s ease;
  transition-delay: 1s;
}
.handwriting svg {
  width: 100%;
}
.handwriting svg .text {
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  animation: animate 10s linear 1 forwards;
}
